<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link 
		id="favicon" 
    rel="shortcut icon"
    href="../favicon/soccer-ball.png">
    <script src="https://kit.fontawesome.com/99de6f9724.js" crossorigin="anonymous"></script>
    <title><%= title %></title>
    
