form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 35.2rem));
  font-size: 2rem;
}

p {
  font-size: 1.8rem;
}

form * {
  padding: 5px;
  border-radius: 5px;
  font-size: 2rem;
}

form > button {
  grid-column: span 2;
  width: 13rem;
  margin-left: auto;
  font-size: 1.8rem;
}

#delete-button {
  font-size: 1.5rem;
  grid-column:span 1;
  width: 3rem;
  margin: auto;
 
}

#delete-form {
  display: grid;
  grid-gap: 5px;
  font-size: 1.5rem;
  grid-template-columns:auto;
}

table {
  font-size: 1.5rem;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 5px;
  text-align: center;
}

#list td:nth-child(1),
#list td:nth-child(2) {
  min-width: 50px;
}

h2 {
  font-size: 2.0rem;
}